<div class="modal-header">
  <h3 class="modal-title center" id="modal-title">Agregar Prenda</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="center">
    <ul class="form-group-list">
      <li>
        <label for="garment_name">Nombre</label>
        <input type="text" placeholder="Nombre de la Prenda" name="garment_name"
          ng-model="garment_name" ng-value="garment_name" required>
      </li>
      <li>
        <label for="garment_price">Precio</label>
        <input type="number" placeholder="Precio de la Prenda" name="garment_price"
          ng-model="garment_price" ng-value="garment_price" required>
      </li>
      <li>
        <label for="garment_size">Tallas</label>
        <select ng-model="garment_size" ng-options="item as item.label for item in size_options track by item.id" required>
          <option value="">---Seleccione---</option>
        </select>
      </li>
      <li>
        <label for="garment_type">Tipo</label>
        <select ng-model="garment_type" ng-options="item as item.label for item in type_options track by item.id" required>
          <option value="">---Seleccion---</option>
        </select>
      </li>  
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button"
    ng-click="Add()">Agregar</button>
  <button class="btn btn-warning" type="button"
    ng-click="Cancel()">Cancel</button>
</div>
